<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="test" th:text ="'message: ' + ${message}"></div>
    <img src="https://content.codecademy.com/courses/web-101/web101-image_brownbear.jpg" alt="MonserImage" />
    <img th:src="@{/images/640px-2010-kodiak-bear-1.jpg}" alt="test bear">
</body>
</html>